body{
    background-image: url(./wood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#starwar{
    position: relative;
    width:800px ;
    height:450px ;
    top:150px ;
    left: 20px;
    display: flex;
}